GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1
GCS_BUCKET=your-unique-gcs-bucket-name
BQ_DATASET_STAGING=ecom_staging
BQ_DATASET_MART=ecom_mart
# Place your GCP service account JSON next to .env (same folder as this file)
GOOGLE_APPLICATION_CREDENTIALS=./service_account.json
